body {
  background-color: #e9e5e5;
}

/* Main Page */
.main-page {
  width: 250px;
  height: 350px;
  background-color: white;
  margin: 150px auto;
  padding-top: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.best {
  margin-top: 10px;
}

.bestseller {
  width: 120px;
  height: 25px;
  background-color: #fbe55a;
  border-radius: 0 20px 20px 0;
  line-height: 25px;
  box-shadow: 0 0 5px 1px #ffea64;
  text-align: center;
  z-index: 1000;
}

.bestseller h1 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
}

.photo img {
  width: 250px;
}

.photo-desk {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.photo-desk p {
  font-size: 12px;
  margin-top: -10px;
}

.photo-desk h1 {
  font-size: 14px;
}

/* BuyNow */

.popup-menu {
  width: 120px;
  height: 30px;
  margin: 25px 120px;
  /* background-color: #fbe55a; */
  display: flex;
}

.popup-menu .popup1 {
  width: 40px;
  height: 30px;
  background-color: #f9fcfc;
  border-radius: 30px 0 0 30px;
  border: 1px solid rgb(78, 78, 78);
}

.popup-menu .popup1 img {
  width: 15px;
  height: 15px;
  margin: 9px 12px;
  cursor: pointer;
}

.popup-menu .popup2 {
  width: 80px;
  height: 30px;
  background-color: #f9fcfc;
  border-radius: 0px 30px 30px 0px;
  border: 1px solid rgb(78, 78, 78);
}

.popup-menu .popup2 p {
  font-size: 13px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(26, 24, 24);
  margin-top: 8px;
}

/* End BuyNow */

/* End Main Page */

/* Popup Page */

.container {
  display: none;
  width: 600px;
  height: 450px;
  background-color: white;
  margin: 90px auto;
  padding-top: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.frame {
  display: flex;
  height: 350px;
  justify-content: space-between;
}

.page-left {
  flex: 1;
}

.page-right {
  flex: 1;
  margin-left: 20px;
}

/* Css Component Page-left */

/* Taq Best Seller */

.taq-bestseller {
  position: relative;
  width: 120px;
  height: 25px;
  background-color: #fbe55a;
  border-radius: 0 20px 20px 0;
  line-height: 25px;
  box-shadow: 0 0 5px 1px #ffea64;
  text-align: center;
}

.taq-bestseller h1 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
}

/* End Taq Best Seller */

/* Slider */
.slidershow {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin-top: 10px;
}
.middle {
  position: absolute;
}
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 75%;
}
.bar {
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: rgb(92, 92, 92);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}

/* End Slider */

/* End Css Component Page-left */

/* Css Component Page-Right */

.deskripsi h1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
}

.deskripsi p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu Detail */
.menu-detail {
  margin-top: 10px;
  position: absolute;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color: rgb(124, 121, 121, 0.3);
  font-size: 12px;
  font-weight: lighter;
  padding-right: 10px;
}

li a:hover {
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fbe55a;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* End Menu Detail */

/* Specsificatin */

.cont {
  width: 250px;
  height: 75px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(158, 157, 157, 0.3);
  border-top: 1px solid rgba(158, 157, 157, 0.3);
  padding-top: 15px;
}

.cont-feature {
  width: 250px;
  height: 75px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(158, 157, 157, 0.3);
  border-top: 1px solid rgba(158, 157, 157, 0.3);
  padding-top: 15px;
  display: none;
}

.menu-spec {
  position: relative;
  width: 250px;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
}

.menu-spec div {
  margin: auto 3px;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}

/* End Specsification */

/* Colour */
.colour p {
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.colour2 p {
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* End Colour */

.warranty-master {
  width: 250px;
  height: 40px;
  /* background-color: #fbe55a; */
  margin-top: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(158, 157, 157, 0.3);
  border-top: 1px solid rgba(158, 157, 157, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.warranty {
  width: 250px;
  height: 40px;
  /* background-color: aqua; */
  display: flex;
  font-size: 10px;
  margin-top: 3px;
}

.warranty .war {
  width: 40px;
  height: 40px;

  /* background-color: #9e0008; */
}

.warranty .war img {
  width: 12px;
  height: 12px;
  margin: 9px 9px;
  padding: 2px;
  /* background-color: beige; */
}

.warranty .war1 {
  width: 250px;
  height: 40px;
  /* background-color: #10ad02; */
  align-items: center;
}

/* BuyNow */

.buyNow {
  width: 120px;
  height: 30px;
  margin: 25px auto;
  /* background-color: #fbe55a; */
  display: flex;
}

.buyNow .cart {
  width: 40px;
  height: 30px;
  background-color: #666867;
  border-radius: 30px 0 0 30px;
}

.buyNow .cart img {
  width: 15px;
  height: 15px;
  margin: 9px 12px;
  cursor: pointer;
}

.buyNow .buy {
  width: 80px;
  height: 30px;
  background-color: #4d4e4e;
  border-radius: 0px 30px 30px 0px;
  border-left: 1px solid rgb(255, 255, 255);
}

.buyNow .buy p {
  font-size: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* End BuyNow */

/* End Css Component Page-Right */

/* End Popup Page */
